@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-Color {
    background: linear-gradient(143deg, #E48E20 -94.39%, #232228 52.51%);
}

.justify-space-around{
    justify-content: space-around;
}

.full-height-without-header {
    height: calc(100vh - 5rem);
}

.login-width{
    width: 24rem;
}

.bg-Color-Reverse {
    background: linear-gradient(143deg, #232228 52.51%, #E48E20 -94.39%);
}

.cart-background::before {
    backdrop-filter: blur(50px);
    z-index: 10;
}

.bg-orange {
    background: #E48E20
}

.cart-background {
    
    background: rgba(20, 8, 8, 0.4);
}

.blur {
    backdrop-filter: blur(5px)
;
}

.fill {
    fill: rgba(0, 0, 0, 0.40);
}
