@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-Checkout
{
    --tw-bg-opacity: 1;
    background-color: rgb(28 28 28/var(--tw-bg-opacity));
}

.bg-esc
{
    --tw-bg-opacity: 1;
    background-color: rgb(40 40 44/var(--tw-bg-opacity));
}

.border-esc
{
    --tw-border-opacity: 1;
    border-color: rgb(52 52 58/var(--tw-border-opacity));
}

.bg-Color {
    background: linear-gradient(143deg, #E48E20 -94.39%, #232228 52.51%);
}

.justify-space-around{
    justify-content: space-around;
}

.full-height-without-header {
    height: calc(100vh - 5rem);
}

.login-width{
    width: 24rem;
}

.bg-Color-Reverse {
    background: linear-gradient(143deg, #232228 52.51%, #E48E20 -94.39%);
}

.cart-background::before {
    backdrop-filter: blur(50px);
    z-index: 10;
}

.bg-orange {
    background: #E48E20
}

.cart-background {
    
    background: rgba(20, 8, 8, 0.4);
}

.blur {
    backdrop-filter: blur(5px)
;
}

.fill {
    fill: rgba(0, 0, 0, 0.40);
}

.hero-section-font{
    font-size: clamp(3rem, 4rem, 4.5rem);
}

.section-card-width{
    width: clamp(150px, 20vw, 300px);
}

.plane{
    position: absolute;
    height: clamp(200px, 25vw, 600px) !important;
    width: clamp(200px, 25vw, 600px) !important;
    animation: fly-in 1s forwards, rumble 0.5s infinite linear 1s;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}


@keyframes rumble {
    0% { transform: translate(-50%, -50%) rotate(0deg); -webkit-transform: translate(-50%, -50%) rotate(0deg); -moz-transform: translate(-50%, -50%) rotate(0deg); -ms-transform: translate(-50%, -50%) rotate(0deg); -o-transform: translate(-50%, -50%) rotate(0deg); }
    20% { transform:translate(-50%, -50%) rotate(-1deg); -webkit-transform:translate(-50%, -50%) rotate(-1deg); -moz-transform:translate(-50%, -50%) rotate(-1deg); -ms-transform:translate(-50%, -50%) rotate(-1deg); -o-transform:translate(-50%, -50%) rotate(-1deg); }
    40% { transform:translate(-50%, -50%) rotate(1deg); -webkit-transform:translate(-50%, -50%) rotate(1deg); -moz-transform:translate(-50%, -50%) rotate(1deg); -ms-transform:translate(-50%, -50%) rotate(1deg); -o-transform:translate(-50%, -50%) rotate(1deg); }
    60% { transform:translate(-50%, -50%) rotate(0deg); -webkit-transform:translate(-50%, -50%) rotate(0deg); -moz-transform:translate(-50%, -50%) rotate(0deg); -ms-transform:translate(-50%, -50%) rotate(0deg); -o-transform:translate(-50%, -50%) rotate(0deg); }
    80% { transform:translate(-50%, -50%) rotate(1deg); -webkit-transform:translate(-50%, -50%) rotate(1deg); -moz-transform:translate(-50%, -50%) rotate(1deg); -ms-transform:translate(-50%, -50%) rotate(1deg); -o-transform:translate(-50%, -50%) rotate(1deg); } 
    100% { transform:translate(-50%, -50%) rotate(-1deg); -webkit-transform:translate(-50%, -50%) rotate(-1deg); -moz-transform:translate(-50%, -50%) rotate(-1deg); -ms-transform:translate(-50%, -50%) rotate(-1deg); -o-transform:translate(-50%, -50%) rotate(-1deg); } 
}


@keyframes fly-in {
    0% {
        left: 0%;
        top: 0%;
        opacity: 0;
    }
    100%{
        left: 50%;
        top: 25%;
        opacity: 1;
    }
 }


 .navbar-container {
    position: relative;
    overflow: hidden;
}

.nav-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.nav-wrapper::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.arrow {
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    color: #E48E20; /* Adjust arrow color as needed */
    padding: 8px;
    border-radius: 4px;
    z-index: 2;
}

/* Define the keyframes for the pulse animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Apply the pulse animation on hover */
.heart-icon:hover {
    animation: pulse 0.5s infinite;
}
